<header class="header"> 
  <h1 class="apple"><a href="/">ManyMenu</a></h1>
 </header>
  
　<!--#検索機能-->




<ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to  current_user.shop,  "yours", class: "user-shopname" %> </li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
       
 </ul>

      <% if user_signed_in? %>
          <%if Menu.find_by(user_id: current_user ) == nil %>
           <li><%= link_to  '掲載する品を増やす', new_menu_path , class: "publish" %> </li> 
          <%else%>
          <li><%= link_to  '掲載画面を確認する', menu_path(current_user.id) , class: "publish" %> </li>
          <li><%= link_to  '掲載する品を編集する', edit_menu_path(current_user.id) , class: "publish" %> </li>
          <%end%>

          <%if  Crean.find_by(user_id: current_user)  == nil  %>
          <li><%= link_to  '衛生面、空き時間の表示を追加する', creans_path , class: "publish" %> </li>
          <%else%>
          <li><%= link_to  '衛生面、空き時間の表示を変更する', edit_crean_path(current_user.id), class: "publish" %> </li> 
          <%end%>

　　　　　　　<h4>QRコードの発行依頼は下記をクリック</h4>
           
           <li><%= link_to  'QRコードを取り寄せる', qr_codes_path , class: "publish" %> </li>
          

           <h4>自身で掲載、編集することが面倒な方は下記をクリック</h4>
           <li><%= link_to  '掲載依頼をする', publish_requests_path , class: "publish" %> </li>


      <% else %>
            
       <%= form_with(url:  search_menu_path(@users.ids), local: true, method: :get, class: "search-form") do |form| %>
       <%= form.text_field :keyword, placeholder: "お店を検索する", class: "search-input" %>
       <%= form.submit "検索", class: "search-btn" %>
             
       
       <div >"最新のおすすめはこちら"
       <% @users.each do |user|  %>
       <%= user.shop%>  
       <% end %>
       </div>
       <div>
       <% @menus.each do |menu| %>
         <%= menu.recommend_image_one%>
         <%= menu.recommend_price_one%>
         <li><%= link_to  "ここをクリック",menu_path(menu.user_id) , class: "publish" %> </li>
       <% end %>
       </div>
    
　　　　
       
       <% end %>

      <% end %>

<ul>
  <li><%= link_to 'その他 問い合わせ',  questions_path, class: "question" %></li>
</ul>
 