



 <header class="header" > 
 <%#= image_tag 'get.png', class: "header_image"%>
  <div class="manymenu"><a style="text-decoration: none;",href="/">ManyMenu</a>
     <div class="concept"><a style="text-decoration: none;",href="#">Don`t get lost in the menu!</a>
     </div>
  </div>
  </header>


    


      <%=form_with  url: creans_path, method: :post,  local: true do |f| %> 
  <div class="b-creans1"> 
   
   <div class="creans1">
     <div class="crean-name">衛生面の取り組み⭐︎</div>
      <div class="crean-tab">
        <div class="crean-content">
         清潔にするための取り組み。
          <span class="crean-able">必須</span>
        </div>
        <%= f.text_area :crean_action, class:"crean-text", placeholder:"毎朝必ず掃除をしています！", maxlength:"200" %>
     </div>

      <div class="crean-tab">
        <div class="crean-content">
         消毒に関して 
          <span class="crean-able">必須</span>
        </div>
        <%= f.text_area :disinfection_action, class:"crean-text", placeholder:"１時間おきに扉等を次亜塩素水で消毒してます", maxlength:"200" %>
      </div>

      <div class="crean-tab">
        <div class="crean-content">
         その他衛生面での取り組み。
          <span class="crean-able">必須</span>
        </div>
        <%= f.text_area :other_action, class:"crean-text", placeholder:"店員のマスク着用、手洗いうがいを徹底しています", maxlength:"200" %>
     </div>
   </div>
   <div class="creans1">
    <div class="crean-name">混雑回避時間⭐︎</div>
      <div class="crean-tab">
        <div class="crean-content">
         本日の混雑回避時間。
          <span class="crean-able">必須</span>
        </div>
        <%= f.text_area :today_empty_time, class:"crean-text", placeholder:"午後２時以降は空いています", maxlength:"200" %>
      </div>

      <div class="crean-tab">
        <div class="crean-content">
         明日の混雑回避時間(予想)
         <span class="crean-able">必須</span>
        </div>
        <%= f.text_area :tomorrow_empty_time, class:"crean-text", placeholder:"午前中の１１時まではおそらく空いていると思います", maxlength:"200" %>
      </div>


      <div class="crean-tab">
        <div class="crean-content">
         週末の混雑時間(予想)
        <span class="crean-able">必須</span>
        </div>
        <%= f.text_area :weekend_empty_time, class:"crean-text", placeholder:"１１〜２時は混雑予想です、３時ごろにお越しください", maxlength:"200" %>
      </div>
    </div>
  </div>

       <div class="sells-btns">
        <div>
          <%= f.submit "登録する" ,class:"empty-btnsss" %>
        </div>
        <div>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
        </div>
      </div>
    <div class="empty"></div>
       <%end%>



<footer class="footer">
 <div> ManyMenuについて</div>
  <div class='footer-contents'>
    <div class='manymenu-details'> 
        <div><%= link_to "お問い合わせ",  questions_path, class: "footer-link" %></div>
        <div><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></div>
        <div><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></div>
        <div><%= link_to 'ManyMenu利用規約', "#", class: "footer-link" %></div>
        <div><%= link_to 'Manymenuガイドライン', "#", class: "footer-link" %></div>
        <div><%= link_to 'お知らせ', "#", class: "footer-link" %></div>
    </div>
  </div>
 </footer>